process {
    container = 'ubuntu:20.04'
}

// Enable Docker
docker {
    enabled = true
}

params {
    s3_bucket                  = secrets.s3_dev_bucket
    api_link_get               = secrets.api_dev_link_get
    api_link_post              = secrets.api_dev_link_post
    api_auth_key             = secrets.api_dev_auth_key
    //api_key_secret           = "abcdefg"
}